.env
.env.*
!.env.example
!.env.sample
!.env.template

node_modules/
dist/
.vercel/

royalmail/_DataURI/
royalmail/ad.doubleclick.net/
royalmail/*.doubleclick.net/
royalmail/googleads.g.doubleclick.net/
royalmail/www.googletagmanager.com/
royalmail/www.google-analytics.com/
royalmail/www.google.com/ccm/
royalmail/www.google.com/rmkt/
royalmail/www.google.com/pagead/
royalmail/www.google.com.ng/pagead/
royalmail/www.facebook.com/
royalmail/connect.facebook.net/
royalmail/px.ads.linkedin.com/
royalmail/pixel.quantserve.com/
royalmail/rules.quantcount.com/
royalmail/secure.quantserve.com/
royalmail/alb.reddit.com/
royalmail/pixel-config.reddit.com/
royalmail/pixels.spotify.com/
royalmail/pixel.byspotify.com/
royalmail/analytics.tiktok.com/
royalmail/analytics-ipv6.tiktokw.us/
royalmail/collect-eu-west-1.tealiumiq.com/
royalmail/visitor-service-eu-west-1.tealiumiq.com/
royalmail/tags.srv.stackadapt.com/
royalmail/sentry-extension.quillbot.com/
royalmail/app.launchdarkly.com/
royalmail/events.launchdarkly.com/
royalmail/js.klevu.com/
royalmail/consent.trustarc.com/get.html

royalmail/careers.royalmailgroup.com/

royalmail/send.royalmail.com/
royalmail/shop.royalmail.com/
royalmail/cdn.phenompeople.com/
royalmail/assets.phenompeople.com/
royalmail/cdn-bot.phenompeople.com/
royalmail/content-ir.phenompeople.com/
royalmail/pp-cdn.phenompeople.com/

royalmail/www.royalmail.com/send.royalmail.com/static/
royalmail/www.royalmail.com/send.royalmail.com/media/
royalmail/www.royalmail.com/send.royalmail.com/assets/favicons/
royalmail/www.royalmail.com/send.royalmail.com/environment-config*.js
royalmail/www.royalmail.com/send.royalmail.com/index.html
royalmail/www.royalmail.com/send.royalmail.com/supportedBrowsers.txt
royalmail/www.royalmail.com/send.royalmail.com/favicon.ico
royalmail/www.royalmail.com/send.royalmail.com/site.webmanifest

royalmail/www.royalmail.com/shop.royalmail.com/static/
royalmail/www.royalmail.com/shop.royalmail.com/index.html
