:root {
    --navbar-height: 76px;
    --brand--900: #da202a;
    --white--900: white;
    --brand--950: #b70d12;
    --main-width: 1280px;
    --grey--850: #2a2a2d;
    --white--800: #eee;
    --brand--200: #f9ccd4;
    --yellow-faint: #ffd1a6;
    --brand--150: #f8e7e7;
    --orange-faint: #ffd1a6;
    --pink: #f9cfd6;
    --grey--900: #191f22;
    --brand--800: #e63338;
    --yellow-bright: #fdda24;
    --yellow: #fae427;
    --grey--750: #404044;
    --white--650: #bbb;
    --white--300: #333;
    --grey--700: #485054;
    --footer-padding: 24px;
    --white--400: #777;
    --footer-width: 1176px;
    --black: black;
    --mobile-nav-width: 375px;
    --nav-menu-mobile-padding: 30px;
    --white--750: #ddd;
    --brand--100: #fef6f6;
    --navbar-under-height: 60px;
    --grey--200: #d5d5d5;
    --blue-grey: #2b3d47;
    --white--350: #444;
    --home-case-studies-card-width: 360px;
    --grey--100: whitesmoke;
    --navbar-padding: 165px;
    --navbar-max-width: 1376px;
}

.rm-body {
    font-family: Pf Din Text Std, Verdana, sans-serif;
}

.navbar {
    z-index: 2;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--brand--900);
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    place-items: center;
    display: grid;
    position: sticky;
    top: 0;
}

.navbar-logos {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    display: flex;
}

.navbar-rm-logo-container {
    flex-flow: column;
    justify-content: center;
    display: flex;
    position: relative;
}

.navbar-pf-logo-container {
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
}

.navbar-menu-button {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    background-color: var(--white--900);
    width: 100px;
    height: 44px;
    color: var(--brand--900);
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
    padding: 6px 10px;
    text-decoration: none;
    transition: opacity .2s, color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1);
    display: flex;
}

.navbar-menu-button:hover {
    background-color: var(--brand--950);
    color: var(--white--900);
    text-decoration: underline;
}

.navbar-menu-button.close,
.navbar-menu-button.close.hide {
    display: none;
}

.navbar-menu-button.close,
.navbar-menu-button.close.hide {
    display: none;
}

.navbar-menu-button.close.open {
    display: flex;
}

.navbar-menu-button.menu {
    display: none;
}

.navbar-menu-button.menu.open,
.navbar-menu-button-hamburger {
    display: flex;
}

.navbar-menu-button-hamburger.hide {
    display: none;
}

.navbar-menu-button-text {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

.navbar-menu-button-text.hide {
    display: none;
}

.navbar-pf-logo {
    min-width: 164px;
}

.navbar-rm-logo {
    object-fit: scale-down;
    height: 54px;
}

.home-old-main {
    width: 100%;
    max-width: var(--main-width);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-flow: column;
    margin-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
}

.section {
    z-index: 1;
    width: 100%;
    color: var(--grey--850);
    justify-content: center;
    display: flex;
    position: relative;
}

.section.red-yellow-gradient {
    background-image: linear-gradient(180deg, var(--brand--200), var(--yellow-faint));
}

.section.brand-light {
    background-color: var(--brand--150);
    padding-top: 80px;
    padding-bottom: 80px;
}

.section.orange-faint-bg {
    background-color: var(--orange-faint);
}

.section.pink-bg {
    background-color: var(--pink);
    padding-top: 80px;
    padding-bottom: 80px;
}

.section.marquee-section {
    overflow: hidden;
}

.section.marquee-section.white,
.section.bg-white {
    background-color: var(--white--900);
}

.section.bg-off-white {
    background-color: var(--white--800);
}

.home-old-main-brand-faint-bg {
    z-index: -1;
    background-color: var(--brand--200);
    min-height: 400px;
    position: absolute;
    left: 0;
    right: 0;
}

.home-old-main-top {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    color: var(--grey--900);
    flex-flow: column;
    align-items: center;
    padding-top: 48px;
    display: flex;
}

.home-old-main-body {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.home-old-main-heading {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Rmfirstclass W Sd, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}

.home-old-main-subheading {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.home-old-main-column {
    border-radius: 8px;
    flex-flow: column;
    display: flex;
    position: relative;
}

.home-old-main-column-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    overflow: hidden;
}

.home-old-main-column-top.send {
    background-color: var(--brand--800);
    background-color: var(--brand--800);
}

.home-old-main-column-top-image {
    width: 100%;
}

.home-old-main-column-body {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    background-color: var(--white--900);
    border-top: 6px solid #000;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    flex-flow: column;
    padding: 32px 24px;
    display: flex;
}

.home-old-main-column-body.send {
    border-top-color: var(--yellow-bright);
}

.home-old-main-column-body.cad {
    border-top-color: var(--brand--900);
}

.home-old-main-column-body-header {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Rmfirstclass W Sd, Verdana, sans-serif;
    line-height: 34px;
}

.home-old-main-column-body-subheader {
    align-items: center;
    min-height: 36px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    display: flex;
}

.home-old-main-column-body-free {
    clear: both;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 34px;
    display: flex;
}

.home-old-main-column-body-free-text {
    font-weight: 700;
    display: inline;
}

.home-old-main-column-body-free-text.lozenge {
    background-color: var(--yellow);
    background-color: var(--yellow);
    border-radius: 32px;
    padding: 4px 8px;
}

.home-old-main-column-body-controls {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.rounded-button {
    width: 100%;
    height: 48px;
    color: var(--white--900);
    text-align: center;
    cursor: pointer;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    padding: 16px 22px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    transition: color .25s cubic-bezier(.4, 0, .2, 1), border-color .25s cubic-bezier(.4, 0, .2, 1), box-shadow .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1);
    display: flex;
}

.rounded-button:hover {
    background-color: var(--brand--950);
}

.rounded-button.large {
    height: 56px;
    padding-left: 28px;
    padding-right: 28px;
    line-height: 18px;
}

.rounded-button.large.white {
    background-color: var(--white--900);
    color: var(--brand--900);
}

.rounded-button.large.white.fit {
    max-width: fit-content;
}

.rounded-button.shift-down {
    padding-bottom: 15px;
}

.rounded-button.brand {
    background-color: var(--brand--900);
}

.rounded-button.brand:hover {
    background-color: var(--brand--950);
}

.rounded-button.brand.large.mt-auto {
    margin-top: auto;
}

.rounded-button.brand.fit {
    width: fit-content;
}

.rounded-button.outline {
    border: 2px solid var(--grey--850);
    color: var(--grey--850);
    background-color: #0000;
}

.rounded-button.outline:hover {
    border-color: var(--brand--950);
    background-color: var(--brand--950);
    color: var(--white--900);
}

.rounded-button.medium {
    height: 40px;
}

.rounded-button.nowrap {
    white-space: nowrap;
}

.home-old-main-column-body-features {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    flex-flow: column;
    display: flex;
}

.home-old-main-column-body-features-item {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    display: flex;
}

.home-old-main-column-body-features-item-image {
    width: 80px;
    height: 80px;
}

.home-old-main-column-body-features-item-text {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.home-old-main-column-body-features-item-text-header {
    color: var(--grey--750);
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
}

.home-old-main-column-body-features-item-text-body {
    color: var(--grey--900);
    font-size: 15px;
    line-height: 1.2em;
}

.home-old-main-column-body-bottom-text {
    color: var(--grey--750);
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
}

.home-old-main-column-body-dots-divider {
    border-top: 2px dotted var(--white--650);
    width: 100%;
    margin-top: 16px;
    margin-bottom: 8px;
}

.home-old-main-column-body-end.mt-4 {
    margin-top: 12px;
}

.home-old-main-column-body-end-link {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    height: 36px;
    color: var(--brand--900);
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    line-height: 35px;
    text-decoration: none;
    display: flex;
}

.home-old-main-column-body-end-link.center {
    justify-content: center;
    align-items: center;
}

.home-old-main-column-body-end-link-arrow {
    height: 9px;
}

.home-old-main-column-body-end-link-text:hover {
    color: var(--brand--950);
    text-decoration: underline;
}

.home-old-main-column-body-integrations {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: column;
    display: flex;
}

.home-old-main-column-body-integrations-heading {
    color: var(--grey--750);
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
}

.home-old-main-column-body-integrations-list {
    grid-column-gap: 0px;
    grid-row-gap: 16px;
    flex-flow: wrap;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    display: flex;
}

.home-old-main-column-body-integrations-list-item {
    flex: 20%;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
}

.footer {
    background-color: var(--white--300);
    flex-flow: column;
    align-items: center;
    display: flex;
}

.home-old-main-bottom {
    justify-content: flex-end;
    align-items: center;
    margin-top: 8px;
    display: flex;
}

.inline-text-wrap {
    clear: both;
}

.inline-text {
    color: var(--grey--700);
    font-size: 20px;
    line-height: 34px;
    text-decoration: none;
    display: inline;
}

.inline-text.bold {
    font-weight: 700;
}

.inline-text.pointer {
    cursor: pointer;
}

.inline-text.brand {
    color: var(--brand--900);
}

.footer-top-left {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.footer-heading {
    color: var(--white--900);
    margin-top: 0;
    margin-bottom: 0;
}

.footer-payment-methods {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-flow: wrap;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.footer-payment-methods-item {
    background-color: var(--white--900);
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 30px;
    display: flex;
}

.footer-payment-methods-item-image {
    max-width: 40px;
    max-height: 20px;
}

.footer-section {
    width: 100%;
    padding: var(--footer-padding);
    justify-content: center;
    align-items: center;
    display: flex;
}

.footer-section.divider {
    border-top: 1px solid var(--white--400);
    border-top: 1px solid var(--white--400);
}

.footer-inner {
    width: 100%;
    max-width: var(--footer-width);
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.footer-end {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    display: flex;
}

.footer-bottom-left {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.footer-social {
    background-color: var(--white--300);
    border-radius: 999px;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    display: flex;
    overflow: hidden;
}

.footer-end-grid {
    grid-column-gap: 24px;
    grid-row-gap: 8px;
    grid-template-rows: auto;
    grid-template-columns: 2fr 3fr;
    grid-auto-columns: 1fr;
    width: 100%;
    max-width: 450px;
    display: grid;
}

.footer-link {
    color: var(--white--900);
    cursor: pointer;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
}

.footer-text {
    color: var(--white--900);
    font-size: 13px;
    line-height: 22px;
}

.footer-text.end {
    text-align: right;
}

.footer-text.wide {
    width: 100%;
}

.footer-section.dark {
    background-color: var(--grey--900);
    background-color: var(--grey--900);
}

.home-old-main-column-top-send-logo {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    inset: 20px 0% auto;
}

.home-old-main-column-body-top {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    flex-flow: column;
    display: flex;
}

.nav-menu {
    z-index: -1;
    background-color: var(--white--900);
    opacity: 0;
    pointer-events: none;
    justify-content: center;
    width: 100%;
    height: 0;
    transition: opacity .5s ease-in-out, top .5s ease-in-out, height .3s ease-in-out;
    display: flex;
    position: absolute;
    top: -10px;
    overflow: hidden;
}

.nav-menu.open {
    z-index: -1;
    opacity: 100;
    pointer-events: auto;
    height: 220px;
    top: 100%;
}

.nav-menu-overlay {
    z-index: -2;
    background-color: var(--black);
    opacity: 0;
    width: 100%;
    height: 0;
    transition: opacity .225s cubic-bezier(.4, 0, .2, 1);
    display: block;
    position: absolute;
    top: 0;
}

.nav-menu-overlay.open {
    opacity: .6;
    height: 100vh;
    transition-duration: .195s;
}

.nav-menu-content {
    z-index: 2;
    width: 100%;
    height: 100%;
    max-height: none;
    max-width: var(--main-width);
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    grid-auto-columns: 1fr;
    transition: max-height .3s ease-in-out;
    display: grid;
    position: relative;
}

.nav-menu-content-left {
    justify-content: flex-end;
    height: 0;
    padding: 32px 120px 32px 24px;
    transition: height .3s ease-in-out;
    display: flex;
    position: relative;
}

.nav-menu-content-left.open {
    height: 220px;
}

.nav-menu-content-right {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: flex-start;
    align-items: stretch;
    height: 0;
    padding: 32px 32px 32px 56px;
    transition: height .3s ease-in-out;
    display: flex;
    position: relative;
}

.nav-menu-content-right.open {
    height: 220px;
}

.nav-menu-content-column {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    width: 100%;
    display: flex;
}

.nav-menu-text {
    color: var(--grey--850);
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
}

.nav-menu-text:hover {
    color: var(--brand--950);
    text-decoration: underline;
}

.nav-menu-text.bold {
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
}

.nav-menu-text.bold.no-hover:hover {
    color: var(--grey--850);
    text-decoration: none;
}

.nav-menu-text.mobile-only {
    display: none;
}

.nav-menu-text-block {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.nav-menu-text-block-icon.tablet-down {
    display: none;
}

.nav-menu-content-right-main {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-flow: column;
    width: 100%;
    display: flex;
}

.nav-menu-content-right-aside {
    justify-content: center;
    align-items: center;
    width: 246px;
    display: flex;
}

.nav-menu-content-right-main-bottom {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    max-width: 360px;
    display: flex;
}

.nav-menu-content-right-image {
    max-height: 150px;
}

.nav-menu-links-list {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    display: flex;
}

.nav-menu-links-list-title {
    font-family: Rmfirstclass W Sd, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    display: none;
}

.nav-menu-content-header,
.nav-menu-back-button {
    display: none;
}

.nav-logic {
    z-index: -999;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar-inner {
    z-index: 0;
    width: 100%;
    height: var(--navbar-height);
    max-width: var(--main-width);
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    position: relative;
}

.navbar-inner.small {
    height: 100%;
}

.nav-menu-content-inner {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    justify-content: flex-start;
    width: 100%;
    display: flex;
}

.nav-menu-content-inner.left {
    grid-column-gap: 44px;
    grid-row-gap: 44px;
    grid-column-gap: 44px;
    grid-row-gap: 44px;
}

.nav-menu-content-bg {
    z-index: -1;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
}

.nav-menu-content-bg.right {
    background-color: var(--brand--100);
    left: 0;
}

.nav-menu-content-bg.left {
    background-color: var(--white--900);
    right: 0;
}

.navbar-top {
    background-color: var(--brand--900);
    width: 100%;
}

.navbar-menu-button-cross {
    justify-content: center;
    align-items: center;
    width: 32px;
    display: flex;
}

.navbar-menu-button-cross.hide {
    display: none;
}

.navbar-container {
    height: auto;
}

.nav-menu-tools {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    display: flex;
}

.navbar-under {
    width: 100%;
    height: var(--navbar-under-height);
    background-color: var(--white--900);
}

.navbar-under-left {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
    display: flex;
}

.navbar-under-right {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: flex;
}

.navbar-under-text {
    color: var(--white--300);
    margin-bottom: 0;
    font-size: 16px;
    text-decoration: none;
}

.navbar-under-text.bold.tablet,
.navbar-under-text.bold.mobile {
    display: none;
}

.navbar-under-text.bold {
    font-weight: 700;
}

.navbar-under-text.bold.line {
    border-right: 1px solid #000;
}

.navbar-under-text.bold.tablet,
.navbar-under-text.bold.mobile,
.navbar-under-text.bold.tablet,
.navbar-under-text.bold.mobile {
    display: none;
}

.navbar-under-divider {
    border-right: 2px solid var(--grey--200);
    height: 30px;
}

.navbar-logo-divider {
    border-right: 2px solid var(--white--900);
    border-radius: 50px;
    height: 48px;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-logo-divider:where(.w-variant-70e3b182-afbd-b035-f573-f3e0d52429b3) {
    display: none;
}

.navbar-cd-logo-container {
    align-items: center;
    display: flex;
}

.navbar-cd-logo-container:where(.w-variant-70e3b182-afbd-b035-f573-f3e0d52429b3) {
    display: none;
}

.lozenge {
    background-color: var(--yellow);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 8px;
    font-family: Rmfirstclass W Sd, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    display: flex;
}

.lozenge.top-left {
    position: absolute;
    top: 16px;
    left: 16px;
}

.navbar-under-dropdown-chevron,
.platforms-dropdown {
    display: none;
}

.platforms-dropdown-logic {
    z-index: -999;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.platforms-dropdown-trigger {
    display: none;
}

.platforms-dropdown-overlay {
    z-index: -2;
    width: 100%;
    height: 0;
    display: block;
    position: absolute;
    top: 0;
}

.platforms-dropdown-overlay.open {
    opacity: .6;
    height: 100vh;
    transition-property: none;
    display: block;
}

.ios-scroll-polyfill {
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0;
}

.home-old-main-integrations-image {
    max-width: min(100%, 120px);
    max-height: 40px;
}

@media screen and (max-width: 991px) {
    .navbar {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-pf-logo-container {
        justify-content: center;
        align-items: center;
    }
    .navbar-menu-button {
        width: auto;
        color: var(--white--900);
        background-color: #0000;
        margin-right: -10px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar-menu-button.close,
    .navbar-menu-button.close.open,
    .navbar-menu-button.close,
    .navbar-menu-button.close.open,
    .navbar-menu-button.close.open,
    .navbar-menu-button-text {
        display: none;
    }
    .section {
        width: 100vw;
        padding-left: 40px;
        padding-right: 40px;
    }
    .section.no-pad-tablet {
        padding-left: 0;
        padding-right: 0;
    }
    .home-old-main-body {
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
    }
    .home-old-main-column-body-free {
        margin-left: -24px;
        margin-right: -24px;
        line-height: 100%;
    }
    .home-old-main-column-body-controls {
        flex-flow: column;
    }
    .home-old-main-column-body-integrations-list-item {
        justify-content: center;
        align-items: center;
    }
    .footer-top-left {
        flex-flow: column;
        justify-content: space-between;
        width: 100%;
    }
    .footer-heading.wide-tablet-down {
        width: 100%;
    }
    .footer-payment-methods {
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        display: grid;
    }
    .footer-inner {
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        flex-flow: row;
        align-items: flex-start;
    }
    .footer-inner.bottom {
        align-items: center;
    }
    .footer-end {
        width: 100%;
    }
    .footer-end-grid {
        grid-template-columns: 1fr 1fr;
    }
    .nav-menu {
        z-index: 1;
        background-color: #0000;
        justify-content: flex-end;
        width: auto;
        max-height: 100vh;
        display: flex;
        top: 0;
        right: 0;
    }
    .nav-menu.open {
        z-index: 1;
        z-index: 1;
        justify-content: flex-end;
        display: flex;
    }
    .nav-menu-overlay {
        z-index: 0;
        position: fixed;
    }
    .nav-menu-content {
        opacity: 100;
        flex-flow: column;
        width: 100%;
        max-width: 375px;
        max-height: 100%;
        transition: right .5s ease-in-out;
        display: flex;
        position: fixed;
        top: 0;
        right: -375px;
    }
    .nav-menu-content.open {
        height: 100%;
        max-height: 100%;
        max-width: var(--mobile-nav-width);
        height: 100%;
        max-height: 100%;
        max-width: var(--mobile-nav-width);
        right: 0;
    }
    .nav-menu-content-left {
        height: auto;
        padding: 24px var(--nav-menu-mobile-padding) 12px;
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        background-color: var(--white--900);
        flex-flow: column;
        position: static;
    }
    .nav-menu-content-left.open {
        height: auto;
    }
    .nav-menu-content-right {
        height: 100%;
        padding: 24px var(--nav-menu-mobile-padding) 12px;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: var(--white--900);
        flex-flow: column;
        position: static;
    }
    .nav-menu-content-right.open {
        height: 100%;
    }
    .nav-menu-content-column.first-tablet {
        margin-top: -76px;
    }
    .nav-menu-text {
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 16px;
        line-height: 24px;
    }
    .nav-menu-text.bold {
        font-family: Rmfirstclass W Sd, Verdana, sans-serif;
    }
    .nav-menu-text.mobile-only {
        display: block;
    }
    .nav-menu-text-block {
        justify-content: space-between;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .nav-menu-text-block-icon {
        width: 12px;
        height: 12px;
    }
    .nav-menu-text-block-icon.tablet-down {
        display: block;
    }
    .nav-menu-content-right-main {
        border-bottom: 1px solid var(--white--750);
        padding-bottom: 24px;
    }
    .nav-menu-content-right-aside {
        padding-top: 40px;
    }
    .nav-menu-content-right-main-bottom {
        width: 100%;
        max-width: none;
        height: 100vh;
        margin-top: var(--navbar-height);
        padding: var(--nav-menu-mobile-padding);
        background-color: var(--white--900);
        flex-flow: column;
        transition: right .5s ease-in-out;
        position: absolute;
        top: 0;
        right: -375px;
    }
    .nav-menu-content-right-main-bottom.open {
        right: 0;
    }
    .nav-menu-content-right-image {
        max-height: 165px;
    }
    .nav-menu-links-list {
        width: 100%;
        height: 100vh;
        margin-top: var(--navbar-height);
        padding: var(--nav-menu-mobile-padding);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        background-color: var(--white--900);
        transition: right .5s ease-in-out;
        position: absolute;
        top: 0;
        right: -375px;
    }
    .nav-menu-links-list.open {
        position: absolute;
        right: 0;
    }
    .nav-menu-links-list.d-flex {
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        display: flex;
    }
    .nav-menu-links-list.always-open {
        position: static;
        right: 0;
    }
    .nav-menu-links-list-title {
        margin-bottom: 16px;
        display: block;
    }
    .nav-menu-content-header {
        height: 100%;
        max-height: var(--navbar-height);
        background-color: var(--brand--900);
        color: var(--white--900);
        justify-content: space-between;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
    }
    .nav-menu-close-button {
        cursor: pointer;
        margin-left: auto;
    }
    .nav-menu-back-button.visible {
        display: block;
    }
    .nav-menu-back-button-image {
        width: 20px;
        height: 20px;
    }
    .navbar-inner {
        padding-left: 16px;
        padding-right: 16px;
    }
    .nav-menu-content-inner {
        flex-flow: column;
    }
    .nav-menu-content-inner.left {
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        padding-left: 0;
    }
    .nav-menu-content-bg {
        display: none;
    }
    .navbar-container {
        top: 0;
    }
    .nav-menu-tools {
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        background-color: var(--white--900);
        width: 100%;
        transition: right .5s ease-in-out;
    }
    .nav-menu-tools.open {
        position: absolute;
        right: 0;
    }
    .nav-menu-tools.d-flex {
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        display: flex;
    }
    .nav-menu-tools.always-open {
        position: static;
        right: 0;
    }
    .home-main {
        padding-top: 100px;
        padding-bottom: 60px;
    }
    .home-bg {
        grid-auto-columns: 1fr;
        max-height: none;
    }
    .home-bg-image {
        object-fit: cover;
        height: 100%;
    }
    .home-bg-image.left {
        bottom: 0;
    }
    .navbar-under-left {
        height: 100%;
    }
    .navbar-under-text.bold.tablet.desktop,
    .navbar-under-text.bold.mobile,
    .navbar-under-text.desktop {
        display: none;
    }
    .navbar-under-text.bold.tablet.desktop,
    .navbar-under-text.bold.mobile {
        display: none;
    }
    .navbar-under-text.bold.tablet {
        display: block;
    }
    .navbar-under-text.bold.tablet.desktop,
    .navbar-under-text.bold.mobile,
    .navbar-under-text.desktop,
    .navbar-under-divider {
        display: none;
    }
    .home-main-logo.amazon {
        top: 4px;
    }
    .container,
    .container.wide-tablet,
    .container.wide-tablet {
        max-width: none;
        padding-left: 0;
        padding-right: 0;
    }
    .home-features-grid {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .section-split-bg {
        flex-flow: column-reverse;
        display: flex;
    }
    .section-split-bg.desktop {
        display: none;
    }
    .rm-red-bg {
        height: 100%;
    }
    .grey-bg {
        width: 100%;
        height: 100%;
    }
    .home-walkthrough-container {
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        flex-flow: column-reverse;
        padding: 0;
        display: flex;
    }
    .home-walkthrough-text {
        background-color: var(--brand--900);
        padding: 40px 48px;
    }
    .home-walkthrough-storylane {
        background-color: var(--blue-grey);
        padding: 66px 36px 33px;
    }
    .home-platforms-container {
        padding-left: 0;
        padding-right: 0;
    }
    .inline-header {
        display: block;
    }
    .inline-header.grey.small-gap.centre-tablet {
        width: 100%;
    }
    .home-platforms-body {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
    }
    .home-platforms-card {
        max-width: 100%;
    }
    .home-platforms-card.wide-tablet {
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        flex-flow: row;
        grid-template-rows: auto;
        grid-template-columns: 3fr 4fr;
        grid-auto-columns: 1fr;
        display: grid;
    }
    .home-platforms-card-image-wrapper {
        justify-content: center;
        align-items: center;
        height: 100%;
        display: flex;
    }
    .home-side-by-side-container {
        grid-column-gap: 12px;
        grid-row-gap: 12px;
        flex-flow: column-reverse;
        padding-left: 0;
        padding-right: 0;
        display: flex;
    }
    .home-sbs-left {
        grid-column-gap: 12px;
        grid-row-gap: 12px;
        width: 100%;
        padding-top: 12px;
    }
    .home-sbs-right {
        width: 100%;
    }
    .home-sbs-image-wrapper {
        justify-content: center;
        padding-left: 32px;
        padding-right: 32px;
        display: flex;
    }
    .home-case-studies {
        padding-bottom: 140px;
    }
    .home-case-studies-content {
        grid-template-columns: 1fr 1fr 1fr;
        display: none;
    }
    .home-case-studies-card {
        width: auto;
        box-shadow: none;
    }
    .home-cta-accent-image {
        z-index: -1;
        display: none;
        left: -60px;
    }
    .code-embed {
        margin-bottom: 0;
    }
    .home-walkthrough-header-wrapper {
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        display: inline-flex;
    }
    .home-features-mobile {
        display: none;
    }
    .home-case-studies-slider {
        grid-template-columns: 1fr 1fr 1fr;
        display: block;
    }
    .home-case-studies-slider-nav {
        justify-content: center;
        align-items: center;
        max-width: 120px;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        top: 411px;
    }
    .home-case-studies-slider-arrow {
        background-color: var(--grey--100);
        width: 48px;
        height: 48px;
        color: var(--brand--900);
        border-radius: 99px;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 700;
        top: 408px;
    }
    .home-case-studies-slider-arrow.left {
        left: calc(50% - 120px);
    }
    .home-case-studies-slider-arrow.right {
        right: calc(50% - 120px);
    }
    .home-case-studies-slider-arrow.disabled {
        color: var(--grey--200);
    }
    .navbar-under-dropdown-wrapper {
        grid-column-gap: 6px;
        grid-row-gap: 6px;
        cursor: pointer;
        align-items: center;
        height: 100%;
        display: flex;
        position: relative;
    }
    .navbar-under-dropdown-chevron {
        width: 10px;
        transition: transform .2s;
        display: block;
    }
    .navbar-under-dropdown-chevron.open {
        transform: rotate(180deg);
    }
    .platforms-dropdown {
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        background-color: var(--white--900);
        cursor: auto;
        flex-flow: column;
        width: fit-content;
        padding: 16px 40px 16px 16px;
        position: absolute;
        left: 0;
    }
    .platforms-dropdown.open {
        top: calc(var(--navbar-height) + var(--navbar-under-height));
        top: calc(var(--navbar-height) + var(--navbar-under-height));
        display: flex;
    }
    .platforms-link {
        color: var(--white--300);
        font-size: 16px;
        text-decoration: none;
    }
    .platforms-link:hover {
        color: var(--white--300);
    }
    .platforms-dropdown-trigger {
        width: calc(100% + 32px);
        height: 100%;
        display: flex;
        position: absolute;
        top: 0;
        left: -16px;
    }
    .platforms-dropdown-overlay {
        z-index: 0;
        position: fixed;
        left: 0;
    }
}

@media screen and (max-width: 767px) {
    .section {
        padding-left: 20px;
        padding-right: 20px;
    }
    .section.bg-off-white {
        padding-left: 0;
        padding-right: 0;
    }
    .section.brand-light {
        padding-left: 20px;
    }
    .home-old-main-top {
        padding-left: 40px;
        padding-right: 40px;
    }
    .home-old-main-column-body {
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        border-radius: 8px;
        margin-left: 16px;
        margin-right: 16px;
        padding: 16px 12px;
        position: relative;
        top: -20px;
    }
    .rounded-button.nowrap.medium.outline.tablet-up {
        display: none;
    }
    .home-old-main-column-body-integrations-list-item {
        flex-basis: 25%;
    }
    .home-old-main-bottom {
        margin-left: 16px;
        margin-right: 16px;
    }
    .footer-top-left {
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        grid-template-rows: auto;
        grid-template-columns: auto 1fr;
        grid-auto-columns: 1fr;
        display: grid;
    }
    .footer-payment-methods {
        display: flex;
    }
    .footer-inner {
        flex-flow: column;
    }
    .footer-inner.bottom {
        grid-column-gap: 12px;
        grid-row-gap: 12px;
        grid-column-gap: 12px;
        grid-row-gap: 12px;
        align-items: flex-start;
    }
    .footer-text.wide.end {
        text-align: left;
        text-align: left;
        text-align: left;
        padding-left: 2px;
    }
    .home-bg {
        grid-template-columns: 1fr;
    }
    .home-bg-image-container.right,
    .navbar-under-text.bold.tablet {
        display: none;
    }
    .navbar-under-text.bold.tablet {
        display: none;
    }
    .navbar-under-text.bold.mobile {
        display: block;
    }
    .navbar-logo-divider,
    .navbar-cd-logo-container {
        display: none;
    }
    .home-main-logo.c-d {
        position: static;
    }
    .home-main-logos {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        justify-items: center;
        margin-bottom: 20px;
    }
    .home-main-logo-container.blank {
        display: block;
    }
    .home-features-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .home-features-grid.mobile {
        grid-column-gap: 12px;
        grid-row-gap: 12px;
        grid-column-gap: 12px;
        grid-row-gap: 12px;
        flex-flow: column;
        display: flex;
    }
    .home-feature-heading,
    .home-feature-text {
        max-width: 360px;
    }
    .home-platforms-body {
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
    }
    .home-platforms-card.wide-tablet {
        flex-flow: column;
        display: flex;
    }
    .h2 {
        font-size: 30px;
        line-height: 34px;
    }
    .h2.small-mobile {
        font-size: 26px;
        line-height: 30px;
    }
    .home-walkthrough-header-wrapper {
        display: block;
    }
    .home-features-tablet-up {
        display: none;
    }
    .home-features-mobile {
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        flex-flow: column;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: 1fr;
        display: block;
    }
    .home-case-studies-slider-nav {
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .home-case-studies-slider-arrow {
        bottom: -473px;
    }
    .mobile-popup {
        z-index: 5;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }
    .mobile-popup.open {
        display: block;
    }
    .mobile-popup-background {
        z-index: -5;
        background-color: var(--white--300);
        opacity: .6;
        width: 100%;
        height: 100%;
    }
    .mobile-popup-content {
        z-index: 1;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        background-color: var(--white--900);
        border-radius: 16px;
        flex-flow: column;
        align-items: center;
        width: 100%;
        max-width: 360px;
        padding: 28px;
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .mobile-popup-text {
        text-align: center;
        margin-bottom: 0;
        font-family: Rmfirstclass W Sd, Verdana, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
    }
}

@media screen and (max-width: 479px) {
    .navbar {
        grid-column-gap: 12px;
        grid-row-gap: 12px;
    }
    .navbar-logos {
        grid-column-gap: 8px;
        grid-row-gap: 8px;
    }
    .home-old-main {
        padding-left: 0;
        padding-right: 0;
    }
    .home-old-main-brand-faint-bg {
        min-height: 320px;
    }
    .home-old-main-top {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .home-old-main-column,
    .home-old-main-column-top {
        border-radius: 0;
    }
    .home-old-main-column-top-image {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .home-old-main-column-body-header {
        font-size: 26px;
    }
    .home-old-main-column-body-subheader,
    .home-old-main-column-body-free-text.hidden-mobile,
    .home-old-main-column-body-free-text.hidden-mobile {
        display: none;
    }
    .rounded-button {
        line-height: 20px;
    }
    .rounded-button.large.white.fit.wide-mobile {
        max-width: none;
    }
    .home-old-main-column-body-features-item {
        align-items: center;
    }
    .home-old-main-column-body-dots-divider {
        margin-top: 8px;
        margin-bottom: 0;
    }
    .home-old-main-column-body-end-link {
        height: 24px;
    }
    .home-old-main-column-body-end-link-text {
        font-size: 18px;
    }
    .home-old-main-column-body-integrations-list-item {
        flex-basis: 33%;
    }
    .footer-payment-methods {
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        display: flex;
    }
    .home-old-main-column-top-send-logo {
        max-width: 60%;
        top: 6px;
    }
    .navbar-inner.small {
        padding-left: 16px;
        padding-right: 8px;
    }
    .navbar-container {
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .home-main {
        padding-left: 0;
        padding-right: 0;
    }
    .home-main-logo.amazon {
        top: 5px;
    }
    .home-main-subheader {
        font-size: 16px;
    }
    .home-main-logos {
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr 1fr;
    }
    .home-main-logo-container.blank {
        display: none;
    }
    .home-features-container {
        grid-column-gap: 24px;
        grid-row-gap: 24px;
    }
    .home-walkthrough-controls {
        justify-content: center;
    }
    .mask {
        height: 410px;
    }
    .home-case-studies-slider-nav {
        top: 433px;
    }
    .home-case-studies-slider-arrow {
        top: 430px;
    }
    .platforms-dropdown.open {
        z-index: 1;
        z-index: 1;
    }
    .platforms-dropdown-overlay.open {
        margin-left: -16px;
        margin-right: -16px;
    }
    .mobile-popup-content {
        max-width: 320px;
    }
}

#w-node-_93a06602-4711-8660-c8f2-14f1ac37456a-ac374550 {
    grid-area: span 1 / span 2 / span 1 / span 2;
}