:root {
    --phw-custom-go-green-contrast008a00ff: #008A00FF;
    --phw-custom-text-dark-light: var(--placeholder-text-color-1);
    --phw-custom-outline_positive-blue0892cbff: #0892CBFF;
    --text-dark: #393939;
    --phw-custom-access_go-green62a531ff: #62A531FF;
    --phw-custom-icons_go-green62a531ff: #62A531FF;
    --cms-g-roboto: Roboto;
    --phw-custom-icondark595959: #595959;
    --phw-custom-button_bright-rede63338ff: #E63338FF;
    --phw-custom-modal_dark-grey404044ff: #404044FF;
    --phw-custom-icons_bright-rede63338ff: #E63338FF;
    --phw-custom-dark-color-light4a4a4a: #4a4a4a;
    --phw-custom-access_pinkf4aebaff: #F4AEBAFF;
    --phw-custom-white_icone8eff5: #E8EFF5;
    --cms-g-rmfirstclass: RMFirstClass;
    --phw-custom-notify_dark-grey404044ff: #404044FF;
    --phw-custom-icon_black000000: #000000;
    --phw-custom-forms_orangef3920dff: #F3920DFF;
    --phw-custom-button_orangef3920dff: #F3920DFF;
    --phw-custom-icons_warm-redb70d12ff: #B70D12FF;
    --phw-custom-modal_bright-rede63338ff: #E63338FF;
    --phw-custom-access_positive-blue0892cbff: #0892CBFF;
    --phw-custom-footer_bgd8d8d8: #d8d8d8;
    --phw-custom-notify_dynamic-yellowfdda24ff: #FDDA24FF;
    --phw-custom-other_go-green-contrast008a00ff: #008A00FF;
    --btn-dark: var(--text-dark);
    --secondary-text: #777777;
    --phw-custom-forms_pinkf4aebaff: #F4AEBAFF;
    --input-bg: #ffffff;
    --phw-custom-button_pinkf4aebaff: #F4AEBAFF;
    --phw-custom-icons_dynamic-yellowfdda24ff: #FDDA24FF;
    --phw-custom-forms_black2a2a2dff: #2A2A2DFF;
    --phw-custom-links_bright-rede63338ff: #E63338FF;
    --phw-custom-button_positiveblue0892cbff: #0892CBFF;
    --phw-custom-icons_orangef3920dff: #F3920DFF;
    --phw-custom-forms_go-green62a531ff: #62A531FF;
    --phw-custom-outline_go-green-contrast008a00ff: #008A00FF;
    --phw-custom-border_go-green-62a531ff: #62A531FF;
    --phw-custom-button_go-green62a531ff: #62A531FF;
    --phw-custom-secondary_bg404044: #404044;
    --phw-custom-outline_black2a2a2dff: #2A2A2DFF;
    --phw-custom-border_pinkf4aebaff: #F4AEBAFF;
    --phw-custom-links_dynamic-yellowfdda24ff: #FDDA24FF;
    --disabled-color: #b8b8b8;
    --phw-custom-black2a2a2dff: #2A2A2DFF;
    --phw-custom-border_orangef3920dff: #F3920DFF;
    --phw-custom-access_orangef3920dff: #F3920DFF;
    --phw-custom-modal_go-green62a531ff: #62A531FF;
    --phw-custom-other_positive-blue0892cbff: #0892CBFF;
    --phw-custom-notify_pinkf4aebaff: #F4AEBAFF;
    --phw-custom-outline_warm-redb70d12ff: #B70D12FF;
    --phw-custom-modal_orangef3920dff: #F3920DFF;
    --phw-custom-pink_bg_40-oppacity: rgba(244, 174, 186, 0.4);
    --phw-custom-access_black2a2a2dff: #2A2A2DFF;
    --phw-custom-icons_black2a2a2dff: #2A2A2DFF;
    --phw-custom-border_go-green-contrast008a00ff: #008A00FF;
    --phw-custom-bg_dynamic-yellowfdda24ff: #FDDA24FF;
    --phw-custom-modal_pinkf4aebaff: #F4AEBAFF;
    --phw-custom-forms_go-green-contrast008a00ff: #008A00FF;
    --phw-custom-access_warm-redb70d12ff: #B70D12FF;
    --phw-custom-modal_go-green-contrast008a00ff: #008A00FF;
    --phw-custom-access_go-green-contrast008a00ff: #008A00FF;
    --phw-custom-iconwhiteffffffff: #FFFFFFFF;
    --phw-custom-dark-color-light6e6e6e: #6E6E6E;
    --phw-custom-bright-red_bge63338ff: #E63338FF;
    --phw-custom-links_warm-redb70d12ff: #B70D12FF;
    --phw-custom-whiteborderffffff: #ffffff;
    --phw-custom-icons_pinkf4aebaff: #F4AEBAFF;
    --phw-custom-notify_go-green-contrast008a00ff: #008A00FF;
    --phw-custom-access_dynamic-yellowfdda24ff: #FDDA24FF;
    --phw-custom-light-greene5f0e4ff: #E5F0E4FF;
    --phw-custom-other_pinkf4aebaff: #F4AEBAFF;
    --phw-custom-links_orangef3920dff: #F3920DFF;
    --phw-custom-positive-blue0892cbff: #0892CBFF;
    --phw-custom-outline_dynamic-yellowfdda24ff: #FDDA24FF;
    --phw-custom-border_warm-redb70d12ff: #B70D12FF;
    --body-color: #000000;
    --phw-custom-dynamic-yellowfdda24ff: #FDDA24FF;
    --phw-custom-light-graye9e9e9: #E9E9E9;
    --phw-custom-modal_dynamic-yellowfdda24ff: #FDDA24FF;
    --phw-custom-darkgrey404044: #404044;
    --phw-custom-orange_bgf3920dff: #F3920DFF;
    --phw-custom-modal_positive-blue0892cbff: #0892CBFF;
    --phw-custom-access_bright-rede63338ff: #E63338FF;
    --phw-custom-border_dark-grey404044ff: #404044FF;
    --phw-custom-pinkf4aebaff: #F4AEBAFF;
    --black: #272727;
    --phw-custom-warm-redb70d12ff: #B70D12FF;
    --phw-custom-warm-red_bgb70d12ff: #B70D12FF;
    --phw-custom-other_go-green62a531ff: #62A531FF;
    --white: #ffffff;
    --phw-custom-other_orangef3920dff: #F3920DFF;
    --phw-custom-notify_bright-rede63338ff: #E63338FF;
    --phw-custom-forms_bright-rede63338ff: #E63338FF;
    --phw-custom-outline_orangef3920dff: #F3920DFF;
    --phw-custom-icon_border_black000000: #000000;
    --phw-custom-notify_orangef3920dff: #F3920DFF;
    --phw-custom-outline_pinkf4aebaff: #F4AEBAFF;
    --link-color: var(--brand-color-primary);
    --phw-custom-notify_warm-redb70d12ff: #B70D12FF;
    --phw-custom-links_go-green-contrast008a00ff: #008A00FF;
    --widget-bg-dark-color: #272727;
    --phw-custom-button_go-green-contrast008a00ff: #008A00FF;
    --phw-custom-primarylighte63338: #E63338;
    --phw-custom-border_dynamic-yellowfdda24ff: #FDDA24FF;
    --brand-color-primary: #da202a;
    --phw-custom-other_warm-redb70d12ff: #B70D12FF;
    --phw-custom-buttonhover0174b2: #0174b2;
    --phw-custom-links_dark-grey404044ff: #404044FF;
    --placeholder-text-color-1: #757575;
    --phw-custom-outline_bright-rede63338ff: #E63338FF;
    --phw-custom-links_positive-blue0892cbff: #0892CBFF;
    --phw-custom-button_dynamic-yellowfdda24ff: #FDDA24FF;
    --phw-custom-go-green62a531ff: #62A531FF;
    --phw-custom-other_bright-rede63338ff: #E63338FF;
    --link-hover-color: var(--brand-color-primary);
    --phw-custom-other_dark-grey404044ff: #404044FF;
    --phw-custom-button_dark-grey404044ff: #404044FF;
    --phw-custom-grey_bg_40-oppacity: rgba(234, 234, 234, 0.4);
    --stroke-white: #FFFFFF;
    --alert-error: #DA202AFF;
    --phw-custom-icons_go-green-contrast008a00ff: #008A00FF;
    --phw-custom-modal_black2a2a2dff: #2A2A2DFF;
    --phw-custom-icons_dark-grey404044ff: #404044FF;
    --phw-custom-other_black2a2a2dff: #2A2A2DFF;
    --phw-custom-forms_dynamic-yellowfdda24ff: #FDDA24FF;
    --phw-custom-orangef3920dff: #F3920DFF;
    --phw-custom-border_positive-blue0892cbff: #0892CBFF;
    --phw-custom-bg_primary_type2da202a: #da202a;
    --brand-color-secondary: #d8d8d8;
    --phw-custom-border_black2a2a2dff: #2A2A2DFF;
    --phw-custom-bg_go-green-contrast008a00ff: #008A00FF;
    --phw-custom-forms_dark-grey404044ff: #404044FF;
    --phw-custom-outline_go-green62a531ff: #62A531FF;
    --phw-custom-other_dynamic-yellowfdda24ff: #FDDA24FF;
    --phw-custom-royal-mail-red_40-oppacity: rgba(218, 32, 42, 0.4);
    --stroke-dark: #BDBDBD;
    --cms-g-pfdin: PFDIN;
    --phw-custom-pink_bgf4aebaff: #F4AEBAFF;
    --phw-custom-links_pinkf4aebaff: #F4AEBAFF;
    --phw-custom-modal_warm-redb70d12ff: #B70D12FF;
    --input-place-holder-color: var(--placeholder-text-color-1);
    --input-stroke: #B8B8B8;
    --icon-light: var(--white);
    --phw-custom-bg_positive-blue0892cbff: #0892CBFF;
    --phw-custom-grey_type_bg_coloreaeaea: #eaeaea;
    --phw-custom-text-colors4e4e4e: #4e4e4e;
    --phw-custom-bg_go-green62a531ff: #62A531FF;
    --phw-custom-icons_positive-blue0892cbff: #0892CBFF;
    --phw-custom-notify_postive-blue0892cbff: #0892CBFF;
    --phw-custom-forms_warm-redb70d12ff: #B70D12FF;
    --phw-custom-links_black2a2a2dff: #2A2A2DFF;
    --phw-custom-button_warm-redb70d12ff: #B70D12FF;
    --phw-custom-notify_go-green-62a531ff: #62A531FF;
    --phw-custom-links_go-green62a531ff: #62A531FF;
    --phw-custom-outline_dark-grey404044ff: #404044FF;
    --phw-custom-notify_black2a2a2dff: #2A2A2DFF;
    --phw-custom-white: var(--widget-bg-white-color);
    --phw-custom-rm-academy-green008a00ff: #008A00FF;
    --phw-custom-access_dark-grey404044ff: #404044FF;
}