@font-face {
    src: url(https://assets.phenompeople.com/CareerConnectResources/prod/RMGRMGGB/canvas/font/font-1685516035125.woff2) format('woff2');
    font-weight: 500;
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
}

@font-face {
    src: url(https://assets.phenompeople.com/CareerConnectResources/prod/RMGRMGGB/canvas/font/font-1685516035174.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
}

@font-face {
    src: url(https://assets.phenompeople.com/CareerConnectResources/prod/RMGRMGGB/canvas/font/font-1685516035179.woff2) format('woff2');
    font-weight: 700;
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
}

@font-face {
    src: url(https://assets.phenompeople.com/CareerConnectResources/prod/RMGRMGGB/canvas/font/font-1722847672593.woff2) format('woff2');
    font-weight: 300;
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
}

@font-face {
    src: url(https://assets.phenompeople.com/CareerConnectResources/prod/RMGRMGGB/canvas/font/font-1685516035174.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
}

@font-face {
    src: url(https://assets.phenompeople.com/CareerConnectResources/prod/RMGRMGGB/canvas/font/font-1685516035121.woff2) format('woff2');
    font-weight: 300;
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
}

@font-face {
    src: url(https://assets.phenompeople.com/CareerConnectResources/prod/RMGRMGGB/canvas/font/font-1722847670961.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
}

@font-face {
    src: url(https://assets.phenompeople.com/CareerConnectResources/prod/RMGRMGGB/canvas/font/font-1721109610922.woff2) format('woff2');
    font-weight: 700;
    font-display: swap;
    font-family: 'Roobert';
    font-style: normal;
}

@font-face {
    src: url(https://assets.phenompeople.com/CareerConnectResources/prod/RMGRMGGB/canvas/font/font-1721109610979.woff2) format('woff2');
    font-weight: 500;
    font-display: swap;
    font-family: 'Roobert';
    font-style: normal;
}

@font-face {
    src: url(https://assets.phenompeople.com/CareerConnectResources/prod/RMGRMGGB/canvas/font/font-1722847671742.woff2) format('woff2');
    font-weight: 500;
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
}

@font-face {
    src: url(https://assets.phenompeople.com/CareerConnectResources/prod/RMGRMGGB/canvas/font/font-1721109611023.woff2) format('woff2');
    font-weight: 300;
    font-display: swap;
    font-family: 'Roobert';
    font-style: normal;
}

@font-face {
    src: url(https://assets.phenompeople.com/CareerConnectResources/prod/RMGRMGGB/canvas/font/font-1721109611052.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
    font-family: 'Roobert';
    font-style: normal;
}

@font-face {
    src: url(https://assets.phenompeople.com/CareerConnectResources/prod/RMGRMGGB/canvas/font/font-1721807385332.woff2) format('woff2');
    font-weight: 600;
    font-display: swap;
    font-family: 'Roobert';
    font-style: normal;
}

@font-face {
    src: url(https://assets.phenompeople.com/CareerConnectResources/prod/RMGRMGGB/canvas/font/font-1722847671367.woff2) format('woff2');
    font-weight: 700;
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
}

@font-face {
    src: url(https://assets.phenompeople.com/CareerConnectResources/prod/RMGRMGGB/canvas/font/font-1685516035121.woff2) format('woff2');
    font-weight: 300;
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
}

@font-face {
    src: url(https://assets.phenompeople.com/CareerConnectResources/prod/RMGRMGGB/canvas/font/font-1685516035125.woff2) format('woff2');
    font-weight: 500;
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
}

@font-face {
    src: url(https://assets.phenompeople.com/CareerConnectResources/prod/RMGRMGGB/canvas/font/font-1685516035179.woff2) format('woff2');
    font-weight: 700;
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
}

@font-face {
    src: url(https://assets.phenompeople.com/CareerConnectResources/prod/RMGRMGGB/canvas/font/font-1727171505906.woff2) format('woff2');
    font-weight: 700;
    font-display: swap;
    font-family: 'PFDIN';
    font-style: normal;
}

@font-face {
    src: url(https://assets.phenompeople.com/CareerConnectResources/prod/RMGRMGGB/canvas/font/font-1727171506039.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
    font-family: 'PFDIN';
    font-style: normal;
}

@font-face {
    src: url(https://assets.phenompeople.com/CareerConnectResources/prod/RMGRMGGB/canvas/font/font-1728467701533.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
    font-family: 'RMFirstClass';
    font-style: normal;
}

@font-face {
    src: url(https://assets.phenompeople.com/CareerConnectResources/prod/RMGRMGGB/canvas/font/font-1728467701828.woff2) format('woff2');
    font-weight: 700;
    font-display: swap;
    font-family: 'RMFirstClass';
    font-style: normal;
}